/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-weight: 400;
  line-height: 1;
}

h1,
.h1 {
  font-size: 2.85rem;
}

h2,
.h2 {
  font-size: 2.35rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

.btn {
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 1px;
}

.fw-500 {
  font-weight: 700;
}

.text-neutral-100,
p {
  color: #fafafa;
}

.text-primary-400 {
  color: #2b272f;
}

.text-primary-300 {
  color: #748db4;
}

@media (min-width: 1024px) {
  h1,
.h1 {
    font-size: 4.55rem;
  }
}
body {
  background-color: #fafafa;
}

.container {
  padding: 25px;
}

.flex {
  display: flex;
  align-items: center;
}

.flow > * + * {
  margin-top: 1rem;
}

.btn {
  padding: 10px 25px;
  border: 2px solid #fafafa;
  background-color: transparent;
  text-transform: uppercase;
  color: #fafafa;
}

.btn-secondary {
  border-color: #2d2640;
}

.flex-md {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes > h2 {
  text-align: center;
  margin: 10rem 0 5rem;
}
.boxes .flex-md {
  gap: 3rem;
}

.border-top::before {
  content: "";
  display: block;
  position: relative;
  margin-inline: auto;
  top: -2.5rem;
  width: 50%;
  border-top: 1px solid #95a9c6;
}

.box {
  text-align: center;
}
.box img {
  margin-inline: auto;
  margin-bottom: 2rem;
}

.primary-box {
  margin-block: 10rem 11rem;
  padding-block: 5rem;
  text-align: center;
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

@media (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container {
    padding-inline: 165px;
  }

  .border-top::before {
    margin-inline: 0;
    width: 150px;
    top: -3.75rem;
  }

  .flex-md {
    flex-direction: row;
    justify-content: space-between;
  }

  .flow > * + * {
    margin-top: 1.7rem;
  }

  .boxes > h2 {
    margin-top: 21.25rem;
    margin-bottom: 5.5rem;
  }

  .box,
.boxes > h2 {
    text-align: left;
  }

  .box img {
    margin-inline: 0;
  }

  .primary-box {
    padding: 70px 80px;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  }
  .primary-box h2 {
    font-size: 3.5rem;
    text-align: left;
    padding-inline-end: 250px;
  }
  .primary-box .btn {
    flex-shrink: 0;
  }
}
.navbar-container {
  justify-content: space-between;
}
.navbar-toggle {
  border: none;
  background-color: transparent;
}
.navbar-nav {
  position: relative;
  display: none;
}
.navbar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.65;
}
.navbar-btn, .navbar-link {
  font-size: 1.255rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#mobile-close {
  display: none;
}

.expanded #mobile-close {
  display: block;
}
.expanded #mobile-open {
  display: none;
}
.expanded .navbar-nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px - 15px);
  background-color: #2b272f;
}
.expanded .navbar-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 218px;
}
.expanded .navbar-item {
  margin: 1rem 0 2rem;
}
.expanded .navbar-btn {
  padding-block: 15px;
}

@media (min-width: 1024px) {
  #mobile-open {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .navbar-nav,
.navbar-nav ul {
    gap: 2rem;
  }
  .navbar-nav ul {
    display: flex;
    align-items: center;
  }
  .navbar-link {
    color: #748db4;
  }
  .navbar-link, .navbar-btn {
    font-size: 1rem;
  }
  .navbar-btn {
    border-color: #2d2640;
    color: #2d2640;
  }
}
.hero {
  position: relative;
  text-align: center;
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top 450px;
}
.hero::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  background-image: url(../images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: -180px;
  right: 0;
  height: 330px;
  width: 100%;
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.hero h1 {
  margin-top: 70px;
}
.hero h1::before {
  display: none;
}
.hero p {
  padding-inline: 5px;
}
.hero button {
  margin: 30px 0 60px;
}

@media (min-width: 1024px) {
  .hero {
    text-align: left;
    background-image: none;
  }
  .hero .container {
    padding-right: 750px;
    padding-bottom: 70px;
  }
  .hero::before {
    position: absolute;
    width: 540px;
    height: 650px;
    left: 50%;
    top: 5.7rem;
    background-image: url(../images/image-intro-desktop.jpg);
  }
  .hero::after {
    top: 0;
    height: 200%;
    background-image: url(../images/bg-pattern-intro-left-desktop.svg), url(../images/bg-pattern-intro-right-desktop.svg);
    background-position: left top 425px, right top -80px;
  }
  .hero h1 {
    margin-top: 7.7rem;
  }
  .hero h1::before {
    display: block;
  }
}
.footer {
  position: relative;
}
.footer .flex-md {
  gap: 2rem;
}
.footer .social {
  gap: 1rem;
}
.footer::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  height: 200px;
  width: 100%;
  z-index: -1;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.footer-nav {
  gap: 0 !important;
  padding-block: 10px;
  margin-top: 3rem;
  border-top: 1px solid #cdd6e4;
}
.footer-list {
  margin: 0;
  padding: 0 0 10px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #667a99;
}
.footer-list-item:first-child {
  margin-block: 1.5rem;
}
.footer-list-link {
  text-decoration: none;
  color: #2d2640;
  line-height: 2.2;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
