.container {
  padding: 25px;
}

.flex {
  display: flex;
  align-items: center;
}

.flow {
  > * + * {
    margin-top: 1rem;
  }
}

.btn {
  padding: 10px 25px;
  border: 2px solid $Very-Light-Gray;

  background-color: transparent;

  text-transform: uppercase;
  color: $Very-Light-Gray;
}

.btn-secondary {
  border-color: $Dark-Violet;
}

.flex-md {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  > h2 {
    text-align: center;
    margin: 10rem 0 5rem;
  }

  .flex-md {
    gap: 3rem;
  }
}

.border-top {
  &::before {
    content: '';
    display: block;
    position: relative;
    margin-inline: auto;
    top: -2.5rem;
    width: 50%;

    border-top: 1px solid $Grayish-Blue;
  }
}

.box {
  text-align: center;
  img {
    margin-inline: auto;
    margin-bottom: 2rem;
  }
}

.primary-box {
  margin-block: 10rem 11rem;
  padding-block: 5rem;

  text-align: center;

  background-color: $Dark-Violet;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

@include mq($break-point-lg) {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container {
    padding-inline: 165px;
  }

  .border-top {
    &::before {
      margin-inline: 0;
      width: 150px;
      top: -3.75rem;
    }
  }

  .flex-md {
    flex-direction: row;
    justify-content: space-between;
  }

  .flow {
    > * + * {
      margin-top: 1.7rem;
    }
  }

  .boxes {
    > h2 {
      margin-top: 21.25rem;
      margin-bottom: 5.5rem;
    }
  }

  .box,
  .boxes > h2 {
    text-align: left;
  }

  .box {
    img {
      margin-inline: 0;
    }
  }

  .primary-box {
    margin-bottom: 8rem;
    padding: 70px 80px;

    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);

    h2 {
      font-size: 3.5rem;
      text-align: left;
      padding-inline-end: 250px;
    }

    .btn {
      flex-shrink: 0;
    }
  }
}
