.footer {
  position: relative;
  background-color: $Very-Light-Gray;

  .flex-md {
    gap: 2rem;
  }
  .social {
    gap: 1rem;
  }

  &::before {
    content: '';
    position: absolute;

    top: -60px;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: -1;

    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &-nav {
    gap: 0 !important;

    padding-block: 10px;

    margin-top: 3rem;
    border-top: 1px solid $Grayish-Blue-300;
  }

  &-list {
    margin: 0;
    padding: 0 0 10px;

    list-style: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 0.9rem;
    font-weight: 700;
    color: $Grayish-Blue-600;

    &-item {
      &:first-child {
        margin-block: 1.5rem;
      }
    }

    &-link {
      text-decoration: none;
      color: $Dark-Violet;
      line-height: 2.2;

      cursor: pointer;
    }
  }
}

@include mq($break-point-lg) {
  .footer {
    .container {
      padding-top: 60px;
    }

    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;

    &::before {
      background-image: none;
    }

    &-nav {
      justify-content: start;
      align-items: start;
      margin-top: 2rem;
      padding-top: 2rem;
    }

    &-list {
      flex: 1 1 25%;
      text-align: left;

      &-link {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .social {
    cursor: pointer;
    a {
      transition: transform 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

      &:hover,
      &:focus {
        transform: scale(1.5);
        svg path {
          fill: $Very-Dark-Violet;
        }
      }
    }
  }
}
